body{
  background-color: rgb(200, 186, 186);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.addbtn{
  background-color: rgb(2, 253, 2);
}
.addbtn:hover{
  background-color: rgb(7, 163, 33);
}
.deletebtn{
  background-color: rgb(255, 5, 5);
}
.deletebtn:hover{
  background-color: rgb(218, 6, 6);
}
.finishedbtn{
  background-color: rgb(56, 6, 235);
  display: block;
  margin: 0 auto;

}
.finishedbtn:hover{
  background-color: rgb(3, 3, 122);
}
.downloadbtn{
  background-color: rgb(228, 96, 224);
  display: block;
  margin: 0 auto;
}
.downloadbtn:hover{
  background-color: rgb(178, 4, 172);
}
h1,h2{
  text-align: center;
}

.adddetails{
  font-family: Arial,sans-serif;
  text-align: center;
  margin-top: 100px;

}

button{
  font-weight: bold;
  padding:8px 20px;
  color: white;
  border:none;
  border-radius:5px;
  cursor:pointer;
  transition: background-color 0.5s ease;
}

input{
  margin-right: 10px;
  margin-left: 10px;
  background-color:rgb(224, 205, 205) ;
  padding:5px 20px;
  border:2px solid gray;
  border-radius:5px;
}
select{
  margin-right: 10px;
  margin-left: 10px;
  padding:5px 20px;
  background-color:rgb(224, 205, 205) ;
  border:2px solid gray;
  border-radius:5px;
}

footer{
  margin-top: auto;
  text-align: center;
  color: rgb(122, 9, 9);
}
.final{
  background-color:beige;
  width:30%;
  margin: 0 auto;

}

table{
  color:black;
  background-color: bisque;
  text-align: center;
  width:500px;
  margin: 0 auto;
}

td,th{
  border:2px solid gray;
  border-radius:5px;
}